// columns
$column-width: 50%;
$column-height: 600px;

// colors
$paris-background-color: #ff7f7f;
$new-york-background-color: #f7f097;
$london-background-color: #b2f2ec;
$singapore-background-color: #cabdda;
$sydney-background-color: #fffbaa;
$border-color: #cccccc73;
$selected-city-color: #7b7b7b;

// spacing
$base-spacing: 20px;

// borders
$solid-border: solid 1px;
